<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <title>IEEE CIS Hyderabad Summer School - 2018</title>
    {% do assets.addCss('theme://css/bootstrap.min.css', 105) %}
    {% do assets.addCss('theme://css/style.css', 104) %}
    {{ assets.css() }}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">IEEE CIS Hyderabad SS 2018</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/#intro">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#speakers">Speakers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#sponsors">Sponsors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/program">Program</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registration">Registration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/venue">Venue</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/committees">Committees</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>