<section {% for attr, value in page.header.attrs %}{{ "#{attr}=\"#{value}\" " }}{% endfor %}>
    <div class="container">
        <div class="alert alert-light text-danger" role="alert">
            <h5 style="padding: 10px 0px">Early Bird Registration: 25% discount upto <s style="color: black;">October 15th 2018</s> October 30th 2018. <a href="https://www.payumoney.com/events/#/buyTickets/cis-ss2018">Register Now</a></h5>
        </div>
        <div class="jumbotron">
          {{ page.content }}
        </div>
    </div>
</section>