<section {% for attr, value in page.header.attrs %}{{ "#{attr}=\"#{value}\" " }}{% endfor %}>
    <div class="container">
        <div class="alert alert-light text-danger" role="alert">
            <h5 style="padding: 10px 0px 5px 0px">Registration closed. For any special requests, please write to the chair.</h5>
        </div>
        <div class="jumbotron">
          {{ page.content }}
        </div>
    </div>
</section>