html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #f1f1f1;
}

.jumbotron {
  margin: 50px 0px;
  padding-top: 50px;
  background-color: #fff;
}

.jumbotron p{
  font-weight: 100;
  font-size: 20px;
}

.jumbotron li{
  font-weight: 100;
  font-size: 20px;
  padding: 10px 0px; 
}

nav {
  min-height: 80px;
  border-top: 3px solid #A0138E;
  background-color: #151A2C !important;
}

nav .nav-link{
  color: #fff !important;
  transition: .5s ease color;
}

nav .nav-link:hover{
  color: #E84A43 !important;
}

main, .hero, .about, .speakers, .generic {
  padding: 50px 0px;
}

.hero, .generic {
  padding-top: 80px;
  background-color: #151A2C;
}

.hero .jumbotron, .about .jumbotron{
  text-align: center;
}

.about .jumbotron li{
  text-align: left;
}

.about{
  background-color: #E84A43; 
}

.speakers{
  background-color: #fff;
}

.speakers .title{
  text-align: center;
}

.speakers .row{
  margin: 50px 0px;
}

.speakers .col{
  text-align: center;
}

.speakers .col img{
  max-height: 150px;
}

.speakers .col h5{
  margin: 10px;
}

.sponsors .title{
  text-align: center;
  padding-top: 20px;
}

.sponsors .col{
  text-align: center;
}

.sponsors img{
  margin: 50px auto;
  max-height: 100px;
}

footer .venue-map{
  padding: 50px 0px;
  height: 400px;
  width: 100%;
}

footer .copyright{
  border-top: 1px solid #aeaeae;
}

footer .copyright p{
  padding: 20px;
  text-align: center;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

table th,
table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

table table {
  background-color: #fff;
}