{% include 'partials/header.html.twig' %}
<section class="hero">
  <div class="container">
    <div class="jumbotron">
      {{ page.content }}
    </div>
  </div>
</section>
{% include 'partials/footer.html.twig' %}